* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: #EEE;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 320px;
    min-width: 500px;
}

.home {
    text-align: center;
}

.home h1 {
    margin: 1rem;
}

.start-button {
    width: 100%;
    min-height: 2rem;
    border-radius: 10px;
}

#quest.hidden,
.hidden {
    display: none;
}

.questions {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 320px;
    min-width: 520px;
    border-radius: 1rem;
}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-content: space-between;
    flex-grow: 1;
    min-width: 80%;
}

.questions h2 {
    font-size: 1.2rem;

}

.answers button {
    min-height: 2.5rem;
    border-radius: 10px;
}

.score {
    font-size: 2rem;
}