@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #EEE;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    max-width: 500px;
    margin: 0 auto;
    gap: 1rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgba(192, 126, 126, 0.288);
    place-items: center;
}

.cell {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    cursor: pointer;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cell:hover {
    background-color: aqua;
}

.game-over.hidden {
    display: none;
}

.game-over {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #EEE;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}