* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEE;
    padding: 1rem;
    position: relative;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-bottom: solid black 1px;
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    margin: 1rem;
    padding: 1rem;
    flex-grow: 1;
}

main .products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.image {
    min-height: 300px;
    min-width: 300px;
    background-color: black;
    margin: 10px;
}

.cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 300px;
    min-width: 400px;
    background-color: #EEE;
    border: 10px rgba(0, 0, 0, 0.567) solid;
    padding: 1rem;
    border-radius: 10px;

}

#cart.hidden {
    display: none;
}

footer {
    border-top: 1px solid black;
    padding: 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    align-items: center;
}

.product h3 {
    font-size: 1.5rem;
}

.product span {
    font-size: 1.2rem;
    font-style: italic;
}

.product button,
header button {
    max-width: 100px;
    padding: 5px;
    border-radius: 10px;
}

.cart-header,
.cartItem {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

#cart {
    display: flex;
    flex-direction: column;
}

#cart-list {
    flex-grow: 1;
}

.pay-now {
    margin: 1rem;
}